<!-- component -->
<div class=" md:flex">
    <div class="flex md:w-1/2 justify-center py-4 mb-8 items-center bg-white">
        <form class="bg-white">
            <h1 class="text-gray-800 font-bold text-2xl mb-5">Edit Student Profile</h1>

            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-fingerprint text-gray-400 h-5 w-5"></i>
                <input name="id" [(ngModel)]="student.id" class="pl-2 outline-none border-none" type="text"  placeholder="Student Id" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-user text-gray-400 h-5 w-5"></i>
                <input name="name" [(ngModel)]="student.name" class="pl-2 outline-none border-none" type="text"  placeholder="Student Name" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-at text-gray-400 h-5 w-5"></i>
                <input name="email" [(ngModel)]="student.email" class="pl-2 outline-none border-none" type="text"  placeholder="Email" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-mobile-screen-button text-gray-400 h-5 w-5"></i>
                <input name="mobile" [(ngModel)]="student.mobile" class="pl-2 outline-none border-none" type="text"  placeholder="Mobile" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-graduation-cap text-gray-400 h-5 w-5"></i>
                <input name="class" [(ngModel)]="student.class" class="pl-2 outline-none border-none" type="text"  placeholder="Class" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-venus-mars text-gray-400 h-5 w-5"></i>
                <input name="gender" [(ngModel)]="student.gender"  class="pl-2 outline-none border-none" type="text"  placeholder="Gender" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-person-chalkboard text-gray-400 h-5 w-5"></i>
                <input name="teacher" [(ngModel)]="student.teacher" class="pl-2 outline-none border-none" type="text"  placeholder="Class Teacher" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-location-dot text-gray-400 h-5 w-5"></i>
                <input name="address" [(ngModel)]="student.address" class="pl-2 outline-none border-none" type="text"  placeholder="Address" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-image text-gray-400 h-5 w-5"></i>
                <input name="photo" [(ngModel)]="student.photo" class="pl-2 outline-none border-none" type="text"  placeholder="Photo URL" />
            </div>
            <div class="flex items-center py-2 px-3 rounded-2xl mb-4">
                <img class="rounded-2xl h-28 w-28" [src]="student.photo" alt="">
            </div>
            <button value="update" (click)="updateStudent()" type="submit"
                class="block w-full bg-green-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2"><i class="fa-solid fa-check"></i> Update</button>
        </form>
    </div>

    <img class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr i justify-around items-center hidden"
        src="https://media.glassdoor.com/l/e5/fe/a7/7b/happy-teacher-and-students.jpg">

</div>