<!-- component -->
<div class=" md:flex">
    <div class="flex md:w-1/2 justify-center py-4 mb-8 items-center bg-white">
        <form class="bg-white">
            <h1 class="text-gray-800 font-bold text-2xl mb-5">Edit Student Profile</h1>

            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-fingerprint text-gray-400 h-5 w-5"></i>
                <input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Student Id" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-user text-gray-400 h-5 w-5"></i>
                <input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Student Name" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-at text-gray-400 h-5 w-5"></i>
                <input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Email" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-mobile-screen-button text-gray-400 h-5 w-5"></i>
                <input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Mobile" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-graduation-cap text-gray-400 h-5 w-5"></i>
                <input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Class" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-venus-mars text-gray-400 h-5 w-5"></i>
                <input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Gender" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-person-chalkboard text-gray-400 h-5 w-5"></i>
                <input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Class Teacher" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-location-dot text-gray-400 h-5 w-5"></i>
                <input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Address" />
            </div>
            <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                <i class="fa-solid fa-image text-gray-400 h-5 w-5"></i>
                <input class="pl-2 outline-none border-none" type="text" name="" id="" placeholder="Photo URL" />
            </div>
            <div class="flex items-center py-2 px-3 rounded-2xl mb-4">
                <img class="rounded-2xl h-28 w-28" src="https://img.freepik.com/free-photo/teenager-having-fun-with-friends_23-2149306183.jpg?w=1060&t=st=1691061350~exp=1691061950~hmac=20869ec97eadf58b3ef5b1772f8e4c7adb11ae45f8e989df35f5030fb914703d" alt="">
            </div>
            <button routerLink="/" type="submit"
                class="block w-full bg-green-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2"><i class="fa-solid fa-check"></i> Update</button>
        </form>
    </div>

    <img class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr i justify-around items-center hidden"
        src="https://media.glassdoor.com/l/e5/fe/a7/7b/happy-teacher-and-students.jpg">

</div>