<div style='background-color:rgba(0, 0, 0, 0)'>
  <div class="container px-5 py-5 mx-auto" style="cursor: auto;">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        [src]="student.photo"
        style="cursor: auto;">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0" style="cursor: auto;">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1" style="cursor: auto;">{{student.name}}</h1>

        <ul class="space-y-2 tracking-wide mt-4">
          <li>
            <p href="#" class="px-5 py-3 flex items-center space-x-4 rounded-md text-gray-700 group">
              <i class="fa-solid fa-envelope"></i>
              <span class="group-hover:text-gray-700"> {{student.email}}</span>
            </p>
          </li>
          <li>
            <p href="#" class="px-5 py-3 flex items-center space-x-4 rounded-md text-gray-700 group">
              <i class="fa-solid fa-mobile-screen-button"></i>
              <span class="group-hover:text-gray-700"> {{student.mobile}}</span>
            </p>
          </li>
          <li>
            <p href="#" class="px-5 py-3 flex items-center space-x-4 rounded-md text-gray-700 group">
              <i class="fa-solid fa-venus-mars"></i>
              <span class="group-hover:text-gray-700">{{student.gender}}</span>
            </p>
          </li>
          <li>
            <p href="#" class="px-5 py-3 flex items-center space-x-4 rounded-md text-gray-700 group">
              <i class="fa-solid fa-location-dot"></i>
              <span class="group-hover:text-gray-700">{{student.address}}</span>
            </p>
          </li>
          <li>
            <p href="#" class="px-5 py-3 flex items-center space-x-4 rounded-md text-gray-700 group">
              <i class="fa-solid fa-person-chalkboard"></i>
              <span class="group-hover:text-gray-700">{{student.teacher}}</span>
            </p>
          </li>
          <li>
            <p href="#" class="px-5 py-3 flex items-center space-x-4 rounded-md text-gray-700 group">
              <i class="fa-solid fa-landmark"></i>
              <span class="group-hover:text-gray-700">{{student.class}}th</span>
            </p>
          </li>
        </ul>


        <div class="flex mt-3 items-center pb-5 border-b-2 border-gray-100 mb-5"></div>
        <div class="flex">
          <button class="title-font text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded"><i class="fa-solid fa-trash"></i> Delete</button>
          <button
            routerLink="/" class=" ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"><i class="fa-solid fa-delete-left"></i> Back</button>
        </div>
      </div>
    </div>
  </div>
</div>