<section class="mx-10 flex ">
    <div class=" flex  flex-col pt-8 ">
        <div class="lg:grid lg:grid-cols-2 items-center">
            <div class="p-1">
                <h1 class="text-4xl font-black">Students Details</h1>
            </div>
            <div class="p-1 text-right">
                <button type="button" class="px-3 py-2 bg-green-700 text-white font-bold rounded-lg hover:text-black hover:bg-blue-700"><i class="fa-solid fa-user-plus"></i> Add Student</button> 
            </div>
        </div>
        <div class="pt-5">
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolor eius reprehenderit nesciunt in facilis commodi, consectetur sed, molestias porro quo ratione impedit, animi illum? Assumenda vel dicta aperiam eligendi harum esse dignissimos velit accusamus aliquam iure deserunt, quas nobis voluptatem. At tempora ea maiores tempore pariatur quos rem iure totam dolor eum illo quas possimus assumenda ullam quisquam aspernatur illum, amet non blanditiis ipsam, corporis odit temporibus! Dolor, beatae dolorem ratione vitae tempora at nihil voluptatum quod sed voluptatibus vel illo delectus molestiae minus dignissimos quam maxime a! Laboriosam, ipsam aliquid. Voluptas obcaecati porro omnis reprehenderit? Perferendis, vel. Aliquam.
            </p>
        </div>
    </div>
</section>

<div class="lg:grid lg:grid-cols-3 justify-items-center mx-1">
    <div class="pt-6">
        <div class="relative px-11 w-full">
              <div class="shadow p-4 rounded-lg bg-gray-100 mb-1" >
                <div class="flex justify-center relative rounded-lg overflow-hidden h-52">
                  <div class="transition-transform duration-500 transform ease-in-out hover:scale-110 w-full">
                    <img src="https://img.freepik.com/free-photo/teenager-having-fun-with-friends_23-2149306183.jpg?w=1060&t=st=1691061350~exp=1691061950~hmac=20869ec97eadf58b3ef5b1772f8e4c7adb11ae45f8e989df35f5030fb914703d" alt="">
                  </div>
                  <span class="absolute top-0 left-0 inline-flex mt-3 ml-3 px-3 py-2 rounded-lg z-10 bg-red-500 text-sm font-medium text-white select-none">
                    Class 9
                  </span>
                </div>
        
                <div class="mt-2">
                  <h2 class="font-medium text-base md:text-lg text-gray-800 line-clamp-1" title="New York">
                    Statue of Liberty
                  </h2>
                  <p class="mt-2 text-sm text-gray-800 line-clamp-1" title="New York, NY 10004, United States">
                    <b>Email:</b> nbgfjb@gmail.com
                  </p>
                </div>
                
                <div class="lg:grid lg:grid-cols-2 mt-2 flex justify-center justify-items-center">
                  <div class="p-3">
                    <button class="bg-yellow-600 text-white px-4 py-2 rounded-lg hover:text-black"><i class="fa-solid fa-eye"></i> View </button>
                  </div>
                  <div class="p-3">
                    <button class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:text-black"><i class="fa-solid fa-pen"></i> Update </button>
                  </div>
                </div>
              </div>
          </div>
    </div>
    <div class="pt-6">
        <p>dfjhfdj</p>
    </div>
    <div class="pt-6">
        <p>;dfdf</p>
    </div>
</div>

