<section class="mx-10 flex ">
  <div class=" flex  flex-col pt-8 ">
    <div class="lg:grid lg:grid-cols-2 items-center">
      <div class="p-1">
        <h1 class="text-4xl font-black">Students Details</h1>
      </div>
      <div class="p-1 text-right">
        <button routerLink="/student/add" type="button"
          class="px-3 py-2 bg-green-700 text-white font-bold rounded-lg hover:text-black hover:bg-blue-700"><i
            class="fa-solid fa-user-plus"></i> Add Student</button>
      </div>
    </div>
    <div class="pt-5">
      <p class="text-justify">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolor eius reprehenderit nesciunt in facilis
        commodi, consectetur sed, molestias porro quo ratione impedit, animi illum? Assumenda vel dicta aperiam eligendi
        harum esse dignissimos velit accusamus aliquam iure deserunt, quas nobis voluptatem. At tempora ea maiores
        tempore pariatur quos rem iure totam dolor eum illo quas possimus assumenda ullam quisquam aspernatur illum,
        amet non blanditiis ipsam, corporis odit temporibus! Dolor, beatae dolorem ratione vitae tempora at nihil
        voluptatum quod sed voluptatibus vel illo delectus molestiae minus dignissimos quam maxime a! Laboriosam, ipsam
        aliquid. Voluptas obcaecati porro omnis reprehenderit? Perferendis, vel. Aliquam.
      </p>
    </div>
  </div>
</section>

<div class="lg:grid lg:grid-cols-3 justify-items-center mx-1">
  <div class="pt-6" *ngFor="let student of allStudent">
    <div class="relative mb-6 px-11 w-full">
      <div class="shadow p-4 rounded-lg bg-gray-100 mb-1">
        <div class="flex justify-center relative rounded-lg overflow-hidden h-52">
          <div class="transition-transform duration-500 transform ease-in-out hover:scale-110 w-full">
            <img
              [src]="student.photo"
              alt="">
          </div>
          <span
            class="absolute top-0 left-0 inline-flex mt-3 ml-3 px-3 py-2 rounded-lg z-10 bg-red-500 text-sm font-medium text-white select-none">
            <p>Class <span> {{student.class}}</span></p>
          </span>
        </div>

        <div class="mt-2">
          <h1 class="font-medium text-2xl  md:text-lg text-gray-800 line-clamp-1" title="New York">
            {{student.name}}
          </h1>
          <p class="mt-2 text-sm text-gray-800 line-clamp-1" title="New York, NY 10004, United States">
            <b>Email:</b> {{student.email}}
          </p>
          <p class="mt-2 text-sm text-gray-800 line-clamp-1" title="New York, NY 10004, United States">
            <b>Phone:</b> {{student.mobile}}
          </p>
        </div>

        <div class="lg:grid lg:grid-cols-2 mt-2 flex justify-center justify-items-center">
          <div class="p-3">
            <button routerLink="/student/view/{{student.id}}"
              class="bg-yellow-600 text-white px-4 py-2 rounded-lg hover:text-black"><i class="fa-solid fa-eye"></i>
              View </button>
          </div>
          <div class="p-3">
            <button routerLink="/student/edit/{{student.id}}"
              class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:text-black"><i class="fa-solid fa-pen"></i>
              Update </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>