<section class="mx-12 h-screen flex  justify-center">
    <div class=" flex  flex-col items-center ">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, adipisci minus deleniti laudantium accusamus neque fugit sapiente fugiat magnam. Perferendis dolores reprehenderit, numquam reiciendis a earum quisquam aliquid adipisci doloribus.</p>
    </div>
</section>

<div class="lg:grid lg:grid-cols-2">
    <div class="p-8">
    
    </div>
    <div class="p-8">
    
    </div>
</div>